.container {
    display:block;
    /* display: flex; */
    border: 1rem solid;
    outline: none;
    line-height: 0;
    /* vertical-align: bottom; */
    border-style: none;
    outline-style: none;
    width: 1354px;
    height: 550px;
    background-image: url('../../Img/LandingPage.png');
    

}
