.container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em auto 0 auto;
    padding: 1em 0 1rem 1rem;
    border-radius: 10px;
    gap: 1em;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 15px 20px #000;
    max-width: 30rem;
    border: solid;
    width: 30rem;
}

.options {
    position: absolute;
    top: 1em;
    right: 1.5em;
    align-self: flex-end;
}

.optionsHandler {
    background-color: transparent;
    border: none;
}

.optionsMenu {
    position: absolute;
    right: 0;
    top: 2rem;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    padding: 0.5rem;
    border-radius: 0;
}

.optionsMenu button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    padding: 0.5em 1em;
    font-size: 0.8rem;
    border: none;
    margin: 0.5em 0 0 0;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}