.container * {
  box-sizing: border-box;
}

.container {
  --pX: 1.5em;
  display: flex;
  flex-direction: column;
  width: 25em;
  max-width: 25em;
  margin: 0 auto;
  padding: 1em 1.5em;
  
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.5em #0005;
}

.wrapper>div {
  margin: 0;
  padding: 0;
  border: none;
}

.wrapper label{
  font-family: "Roboto";
  padding: 0.75em;
  border: none;
  width: 100%;
  font-size: 0.9rem;
  border: none;
  resize: none;
}

.error {
  color: #f33;
}

.submit {
  border: none;
  border: 2px solid #aaa;
  margin: 1em 0 0 0;
  padding: 1em;
}

.container {
  resize: none;
  border: none;
}

.uploadImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 10rem;
}

.flex {
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
}

.dark {
  background-color: #333;
}

.dark textarea {
  background-color: #444;
}

.inputGroup {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 0 0 1em;
  border-radius: 4px;
  overflow: hidden;
  gap: 2rem;
}

.inputGroup input{
  font-family: "Roboto";
  padding: 0.75em;
  border: none;
  width: 100%;
  font-size: 0.9rem;
  border: none;
  resize: none;
}
.inputGroup:focus-within {
  outline: 2px solid hsl(226deg, 100%, 70%);
}

.inputGroup:focus-within.error {
  outline: 2px solid red;
}

form button[type="submit"] {
  border-radius: 5em;
  border: none;
  color: #fff;
  background-color:  hsl(226deg, 100%, 70%);
}

form button[type="submit"]:hover {
  color: black
  
}
form > h1 {
  margin: 0 0 0.5em 5rem;
  color: #1e1e1e;
}