.App {
  --c-light: #f0f0f0;
  --c-dark: #1e1e1e;

  --c-lightPost: #ffffff;

  --hue-blue: 198;

  --c-soft-blue: hsl(226deg, 100%, 95%);
  --c-blue: hsl(226deg, 100%, 70%);
  --c-hard-blue: hsl(226deg, 100%, 50%);
  --bs-blue: 0 0.25rem 0.25rem hsla(226deg, 100%, 50%, 25%);

  --c-red: #c94f4f;
  --c-mix: #7f69a3;
  --c-enfasis: #a04972;

  background-color: #f5f5f5;
  min-height: 100vh;
}
